<div class="container">
  <h1>Rails App Home Page</h1>
  <p>info regarding the current App...</p>
  <%= link_to 'about', about_path, class: "btn btn-secondary" %>
  <%= link_to 'blog', posts_path, class: "btn btn-primary" %>
</div>
